.git
.idea
.github

*.log
yarn-debug.log*
yarn-error.log*

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

**/node_modules

**/*.tsbuildinfo

containers/

services/*/lib
shared/*/lib

services/bot/custom_translation_indices.json
