{
  "unity_executable": "/path/to/unity/executable",
  "decrypt_output_dir": "/path\to/decryption/output/folder",
  "game_cache_path": "/path/to/game/cache/com.nhnent.SKQUEST",
  "sprites_output_dir": "/path/to/sprites/output/folder",
  "information_output_dir": "/path/to/information/output/folder"
}
